#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  cursor: pointer;
  height: 6em;
  padding: 1.5em;
}

.logobanner {
  will-change: filter;
  transition: filter 300ms;
}

.logobanner:hover {
  filter: drop-shadow(0 0 2em #fff);
}

.vitelogo {
  will-change: filter;
  transition: filter 300ms;
}

.vitelogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.reactlogo {
  will-change: filter;
  transition: filter 300ms;
}

.reactlogo:hover {
  filter: drop-shadow(0 0 2em #64ceffaa);
}

.javascriptlogo {
  will-change: filter;
  transition: filter 300ms;
}

.javascriptlogo:hover {
  filter: drop-shadow(0 0 2em #efff64aa);
}

.pythonlogo {
  will-change: filter;
  transition: filter 300ms;
}

.pythonlogo:hover {
  filter: drop-shadow(0 0 2em #8664ffaa);
}

.csharplogo {
  will-change: filter;
  transition: filter 300ms;
}

.csharplogo:hover {
  filter: drop-shadow(0 0 2em #ff64d8aa);
}

.cpluspluslogo {
  will-change: filter;
  transition: filter 300ms;
}

.cpluspluslogo:hover {
  filter: drop-shadow(0 0 2em #64ffffaa);
}

.rustlogo {
  will-change: filter;
  transition: filter 300ms;
}

.rustlogo:hover {
  filter: drop-shadow(0 0 2em #e064ffaa);
}

.rubylogo {
  will-change: filter;
  transition: filter 300ms;
}

.rubylogo:hover {
  filter: drop-shadow(0 0 2em #ff6464aa);
}

button {
  background-color: transparent;
  border: none;
}